.email input{
    border: #D1D9CF 1px solid;
    color: #D1D9CF;
    width: 30rem;
    height: 1.8rem;
    padding-left: 10px;
}
.email ::placeholder{
    font-size: 15px;
    color: #D1D9CF;
}
.icon{
    margin-left: -35px;
    margin-top: 10px;
    color: #D1D9CF;
}

